*{
  box-sizing: border-box;
}
.main-title{
  padding: 24px 0;
  text-align: center;

}
.main-content{
  display: block;
  width:1200px;
  margin: 0 auto;
  background-color: rgb(230, 228, 62);
  position: relative;
}
.content{
  margin-left: 200px;
  max-width: 1000px;
  background-color: rgb(69, 21, 189);
  color: white;
  display: inline-block;
}
.nav-container{
  display: inline-block;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;

}
